/* Shadorossa.css - Shadorossa v1.0 */


/*============================================================== CSS > ROOT | ASSETS ==============================================================*/

@import url(https://mentor404.github.io/anilist-css/main.css);




/*============================================================== STATS WARP ==============================================================*/

/*.content.container>div>div:nth-child(2)>div.stats-wrap>div:nth-child(n+1) {
    position: relative;
    margin-right: 150px;
}

.content.container>div>div:nth-child(2)>div.stats-wrap>div:nth-child(2) {
        right: 150px
}*/


/*=============================================================== Overview > Characters ===============================================================*/

.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(1) { background-image: var(--gintoki-image)}


/*=============================================================== REMOVED ===============================================================*/

/* --- Header > Home / Browse / Forum (Remove) --- 

div.wrap>div.links>a {
    display: none;
}*/

/* --- Nav > Reviews / Submissions (Remove) --- */
.nav .link:nth-of-type(n+7) {Display:none}


/* --- Overview > Favorite: Anime (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(4) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Manga (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(5) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Character (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Staff (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(7) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Studio (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(8) > div > a:nth-child(n+6) { Display: none}
