/* Shadorossa.css - Shadorossa v0.02 */


/*============================================================== CSS > ROOT | ASSETS ==============================================================*/

@import url(https://mentor404.github.io/anilist-css/files/background.css); @import url(https://mentor404.github.io/anilist-css/files/banner-remove.css); @import url(https://mentor404.github.io/anilist-css/files/navbar.css); @import url(https://mentor404.github.io/anilist-css/files/color-theme.css);
@import url(https://mentor404.github.io/anilist-css/files/font.css); @import url(https://mentor404.github.io/anilist-css/files/stats2.css); @import url("https://cdn.jsdelivr.net/gh/Shadorossa/Shadorossacss@main/favourites_v0.02.css"); @import url(https://mentor404.github.io/anilist-css/files/feed.css);
@import url(https://mentor404.github.io/anilist-css/files/footer.css); @import url(https://mentor404.github.io/anilist-css/files/top-nav.css); @Import url("https://cdn.jsdelivr.net/gh/Shadorossa/CSS5R/P5Font.css"); @import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"); 

:root {

    /* - Favorite Anime - */
    --P4-img: url(https://m.media-amazon.com/images/M/MV5BMGE2NDgwNTAtZGYyZS00ZmVjLTg2YTYtMjRhMTZmZjM5YTNkXkEyXkFqcGdeQXVyMTA0MTM5NjI2._V1_.jpg); --P5-img: url(https://c4.wallpaperflare.com/wallpaper/733/32/20/persona-5-persona-5-royal-hd-wallpaper-preview.jpg); --AA-img: url(https://www.latercera.com/resizer/F-3skXsYP0UYihEGDnHfjg6gctM=/arc-anglerfish-arc2-prod-copesa/public/EQUX23JAPJH6LMY2C5XTWZWGJU.jpg);
    
    /* - Favorite Manga - */
    
    /* - Favorite Characters | 1st: Image | 2nd: Gif | 3rd: | - */
    --Gin-img: url(https://i.imgur.com/HRuIQHE.png); --Rein-img: url(https://i.imgur.com/KR1r4XY.png); --Baku-img: url(https://i.imgur.com/SytE4tG.png); --Joe-img: url(https://i.imgur.com/SytE4tG.png); --Yatora-img: url(https://i.imgur.com/SytE4tG.png); 

    /* - Social media - */
    --Joker-backloggd: url(https://files.catbox.moe/n9i48l.png); --Jax-IMDB: url(https://files.catbox.moe/hgp9n4.png); --Baku-fav: url(https://files.catbox.moe/kzzi56.png);
}

/*=============================================================== NAV BAR & HEADER ===============================================================*/

.logo{content: url("https://files.catbox.moe/0cpyxf.png");opacity: 0.5;transition: scale 1s, opacity .5s;}

/*=============================================================== Overview ===============================================================*/

/* --- Genres --- */
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(3) > div > div.genres {display: none;} 
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(3) > h2 {font-size: 0;}
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(3) > h2:before{position: relative; font-family: Persona5; top: -3px; font-size: 12px; content: "Bucket list progress / 3.6%"}
.percentage-bar > div:nth-child(n+3) {display: none;}
.el-tooltip__popper.is-dark {display: none;}
.percentage-bar > div:nth-child(1) {min-width: 3.5% !important; background: rgb(129 51 94) !important;}
.percentage-bar > div:nth-child(2) {min-width: 100% !important; background: rgb(70 70 70) !important;}

/* --- Favorites --- */
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(4) > h2 {font-size: 0px}
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(4) > h2::before {font-size: 10px; content:"Anime & games";}
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(5) > h2 {font-size: 0px}
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(5) > h2::before {font-size: 10px; content:"Manga & novels";}

/*=============================================================== Overview > Favorites ===============================================================*/

/* --- Modifications --- */
.favourite:hover {transform: scale(1.075); border: 2px solid rgb(var(--color-foreground));}

/* --- Anime --- */
.content.container > div > div:nth-child(1) > div:nth-child(4) > div > a:nth-child(2) {background-image: var(--P4-img) !important;}

/* --- Characters --- */
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(1) {background-image: var(--Gin-img) !important;}
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(2) {background-image: var(--Rein-img) !important;}
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(3) {background-image: var(--Baku-img) !important;}

/*=============================================================== Overview > Social media ===============================================================*/
/* --- Backloggd --- */
.about p:nth-child(6) > a:nth-child(1)::after {
    content: "";
    background-image: var(--Joker-backloggd);
    background-size: cover;
    height: 420px;
    width: 350px;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    filter: drop-shadow(15px -10px 4px rgb(0 0 0 / 50%));
}
/* --- IMDB --- */
.about p:nth-child(6) > a:nth-child(2)::after {
    content: "";
    background-image: var(--Jax-IMDB);
    background-size: cover;
    height: 400px;
    width: 350px;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5
    filter: drop-shadow(15px -10px 4px rgb(0 0 0 / 50%));
}

/* --- Baku --- */ 
div.lists > div:nth-child(2) > div > div.list-entries > div > div.title > a:nth-child(2):after {
    content: "";
    background-image: var(--Baku-fav);
    background-size: cover;
    width: 340px;
    height: 450px;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    filter: drop-shadow(4px -1px 2px rgba(21,31,46, 0.5));
}

/*=============================================================== Favorites ===============================================================*/
/* --- Anime --- */
div.page-content > div > div.content.container > div > div:nth-child(1) > h2 {font-size: 0px} div.page-content > div > div.content.container > div > div:nth-child(1) > h2:before {font-size: 14px; content: "Anime & Video games";}
div.page-content > div > div.content.container > div > div:nth-child(2) > h2 {font-size: 0px} div.page-content > div > div.content.container > div > div:nth-child(2) > h2:before {font-size: 14px; content: "Manga & novels"; }
div.favourites > div:nth-child(1) > div.favourites-wrap.anime > a:nth-child(2) {background-image: var(--P4-img) !important;}
div.favourites > div:nth-child(1) > div.favourites-wrap.anime > a:nth-child(7) {background-image: var(--P5-img) !important;}
div.favourites > div:nth-child(1) > div.favourites-wrap.anime > a:nth-child(8) {background-image: var(--AA-img) !important;}

/* --- Characters --- */
div.page-content > div > div.content.container > div > div:nth-child(3) > h2:before {font-size: 10px; position:relative; top: 163px; left:70px; content:"disordered"}
div.page-content > div > div.content.container > div > div:nth-child(3) > h2 {position:relative; right:56px}

/*=============================================================== ANIMATIONS ===============================================================*/

.about p:nth-child(6) > a:nth-child(1)::after {
    animation: fadeInBottomLeft;
    animation-duration: 3s;
}
.about p:nth-child(6) > a:nth-child(2)::after {
    animation: fadeInBottomRight;
    animation-duration: 3s;
}
div.lists > div:nth-child(2) > div > div.list-entries > div > div.title > a:nth-child(2)::after {
    animation: zoomInDown;
    animation-duration: 2s;
}

/*=============================================================== REMOVED ===============================================================*/
/* --- Nav > Reviews / Submissions (Remove) ---*/
.nav .link:nth-of-type(n+7) {Display:none}


/* --- Overview > Favorite: Anime (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(4) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Manga (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(5) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Character (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Staff (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(7) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Studio (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(8) > div > a:nth-child(n+6) { Display: none}
