/* Shadorossa.css - Shadorossa v0.02 */
/*============================================================== CSS > ROOT | ASSETS ==============================================================*/
@import url(https://mentor404.github.io/anilist-css/files/background.css); @import url(https://mentor404.github.io/anilist-css/files/banner-remove.css); @import url(https://mentor404.github.io/anilist-css/files/navbar.css); @import url(https://mentor404.github.io/anilist-css/files/color-theme.css); @import url(https://mentor404.github.io/anilist-css/files/font.css); @import url(https://mentor404.github.io/anilist-css/files/stats2.css); @import url("https://cdn.jsdelivr.net/gh/Shadorossa/Shadorossacss@main/favourites_v0.02.css"); @import url(https://mentor404.github.io/anilist-css/files/feed.css); @import url(https://mentor404.github.io/anilist-css/files/footer.css); @import url(https://mentor404.github.io/anilist-css/files/top-nav.css); @Import url("https://cdn.jsdelivr.net/gh/Shadorossa/CSS5R/P5Font.css"); @import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"); 
:root {
    --background: url(
    "https://i.imgur.com/MtOC5XD.png");
    /* - Favorite Anime - */
    /* - Favorite Manga - */
    --Uso-img: url(
    https://files.catbox.moe/9s8cn2.png);
    /* - Favorite Characters | 1st: Image | 2nd: Gif | 3rd: | - */
    --Kiru-img: url(
    https://i.imgur.com/pn294Nw.png);
    --Gin-img: url(
    https://i.imgur.com/HRuIQHE.png);
    --Rein-img: url(
    https://i.imgur.com/KR1r4XY.png);
    --Baku-img: url(
    https://i.imgur.com/SytE4tG.png);
    --Joe-img: url(
    https://i.imgur.com/SytE4tG.png);
    --Yatora-img: url(
    https://i.imgur.com/SytE4tG.png);
    /* - Social media - */
    --Joker-backloggd: url(
    https://files.catbox.moe/n9i48l.png);
    --Jax-IMDB: url(
    https://files.catbox.moe/hgp9n4.png);
    /* - Sprites - */
    --Gin-fav: url(
    https://files.catbox.moe/mymm35.png);
    --Logh-fav: url(
    https://files.catbox.moe/aw81im.png);
    --Joe-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --Mons-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --Nana-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --FB-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --Mono-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --Baku-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --TDoH-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --AiB-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --Taka-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --Inno-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --Fata-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --BP-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --20th-fav: url(
    https://files.catbox.moe/kzzi56.png);
    --PH-fav: url(
    https://files.catbox.moe/vq8abq.png);
    --Bleach-fav: url(
    https://files.catbox.moe/kwkmmx.png);
}

/*=============================================================== NAV BAR & HEADER ===============================================================*/
.logo {
    content: url("https://files.catbox.moe/0cpyxf.png");
    opacity: 0.5;
    transition: scale 1s, opacity .5s;
}
/*=============================================================== Base code (Eliminar esto es borrar la mitad del CSS) ===============================================================*/
.about p:nth-child(6) > a:nth-child(n+1)::after {
    content: "";
    background-size: cover;
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 0;
    filter: drop-shadow(15px -10px 4px rgb(0 0 0 / 50%));
}

div.favourites > div:nth-child(n+1) > div.favourites-wrap.anime > a:nth-child(n+1):hover:before {
    content: "";
    position: fixed;
    display: block;
    background-size: cover;
    z-index: -2;
    filter: drop-shadow(4px -1px 2px rgba(21,31,46, 0.5));
}

div.favourites > div:nth-child(n+2) > div.favourites-wrap.manga > a:nth-child(n+1):hover:before {
    content: "";
    position: fixed;
    display: block;
    background-size: cover;
    z-index: -1;
    filter: drop-shadow(4px -1px 2px rgba(21,31,46, 0.5));
}


/*=============================================================== Overview ===============================================================*/
/* --- Genres ---*/
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(3) > div > div.genres {
    display: none;
}

div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(3) > h2 {
    font-size: 0;
}

div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(3) > h2:before {
    position: relative;
    font-family: Persona5;
    top: -3px;
    font-size: 12px;
    content: "Bucket list progress / 3.6%"
}

.percentage-bar > div:nth-child(n+3) {
    display: none;
}

.el-tooltip__popper.is-dark {
    display: none;
}

.percentage-bar > div:nth-child(1) {
    min-width: 3.5% !important;
    background: rgb(129 51 94) !important;
}

.percentage-bar > div:nth-child(2) {
    min-width: 100% !important;
    background: rgb(70 70 70) !important;
}

/* --- Favorites --- */
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(4) > h2 {
    font-size: 0px
}

div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(4) > h2::before {
    font-size: 10px;
    content: "Anime & novels";
}

div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(5) > h2 {
    font-size: 0px
}

div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(5) > h2::before {
    font-size: 10px;
    content: "Manga & novels";
}

/*=============================================================== Overview > Favorites ===============================================================*/
/* --- Modifications --- */
.favourite:hover {
    border: 2px solid rgb(var(--color-foreground));
}

/* --- Manga --- */
.content.container > div > div:nth-child(1) > div:nth-child(5) > div > a:nth-child(1) {
    background-image: var(--Uso-img) !important;
}

/* --- Characters --- */
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(1) {
    background-image: var(--Kiru-img) !important;
}
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(3) {
    background-image: var(--Gin-img) !important;
}
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(4) {
    background-image: var(--Baku-img) !important;
}
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(5) {
    background-image: var(--Rein-img) !important;
}

/*=============================================================== Overview > Social media ===============================================================*/
/* --- Backloggd --- */
.about p:nth-child(6) > a:nth-child(1)::after {
    background-image: var(--Joker-backloggd);
    height: 400px;
    width: 370px;
    left: 0;
}

/* --- IMDB --- */
.about p:nth-child(6) > a:nth-child(2)::after {
    background-image: var(--Jax-IMDB);
    height: 400px;
    width: 350px;
    right: 0;
}
/*=============================================================== Anime & Manga Lists ===============================================================*/

.filters .hohStatsTrigger,
.filter-group {
  background-color: rgb(35 1 10 / 70%) !important;
  border-radius: 4px;
  box-shadow: 0 2px 20px rgba(49, 54, 68, 0.9);
  padding: 10px 8px;
}


.filter-group .active,
.filter-group a.router-link-active,
.el-select-dropdown__item:hover,
.el-select-dropdown__item:hover,
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: rgb(118 53 13) !important;
  color: #fff !important;
}

/*=============================================================== Favorites ===============================================================*/
/* --- Anime --- */
div.page-content > div > div.content.container > div > div:nth-child(1) > h2 {
    font-size: 0px
}

div.page-content > div > div.content.container > div > div:nth-child(1) > h2:before {
    font-size: 14px;
    content: "Anime & Novels";
}

div.page-content > div > div.content.container > div > div:nth-child(2) > h2 {
    font-size: 0px
}

div.page-content > div > div.content.container > div > div:nth-child(2) > h2:before {
    font-size: 14px;
    content: "Manga & novels";
}
.favourites-wrap {
    grid-gap: 15px !important;
}

div.page-content > div > div.content.container > div > div:nth-child(1) > div.favourites-wrap.anime, div.page-content > div > div.content.container > div > div:nth-child(2) > div.favourites-wrap.manga {
    display: flex;
}

/* --- Characters --- */
div.page-content > div > div.content.container > div > div:nth-child(3) > div.favourites-wrap.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* --- Anime & manga characters hover --- */
div.favourites > div:nth-child(1) > div.favourites-wrap.anime > a:nth-child(1):hover:before {
    background-image: var(--Gin-fav);
    width: 440px;
    height: 550px;
    bottom: 0;
    left: 0;
}

div.favourites > div:nth-child(1) > div.favourites-wrap.anime > a:nth-child(2):hover:before {
    background-image: var(--Logh-fav);
    width: 280px;
    height: 650px;
    bottom: 0;
    right: 0;
}

div.favourites > div:nth-child(2) > div.favourites-wrap.manga > a:nth-child(1):hover:before {
    background-image: var(--Baku-fav);
    width: 440px;
    height: 550px;
    bottom: 0;
    left: 0;
}

/*=============================================================== ANIMATIONS ===============================================================*/
.about p:nth-child(6) > a:nth-child(1)::after {
    animation: fadeInBottomLeft;
    animation-duration: 3s;
}

.about p:nth-child(6) > a:nth-child(2)::after {
    animation: fadeInBottomRight;
    animation-duration: 3s;
}

div.lists > div:nth-child(2) > div > div.list-entries > div > div.title > a:nth-child(1)::after {
    animation: zoomInDown;
    animation-duration: 2s;
}

div.page-content > div > div.content.container > div > div:nth-child(n+1) > div.favourites-wrap.anime > a:nth-child(n+1):hover:before {
    animation: fadeInBottomLeft;
    animation-duration: 0.8s;
}

div.page-content > div > div.content.container > div > div:nth-child(n+2) > div.favourites-wrap.manga > a:nth-child(n+1):hover:before {
    animation: fadeInBottomLeft;
    animation-duration: 0.8s;
}

/*=============================================================== REMOVED ===============================================================*/
/* --- Nav > Reviews / Submissions (Remove) ---*/
.nav .link:nth-of-type(n+7) {
    Display: none
}

/* --- Overview > Favorite: Anime (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(3) > div > a:nth-child(n+6) {
    Display: none
}

/* --- Overview > Favorite: Manga (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(4) > div > a:nth-child(n+6) {
    Display: none
}

/* --- Overview > Favorite: Character (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(5) > div > a:nth-child(n+6) {
    Display: none
}

/* --- Overview > Favorite: Staff (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(n+6) {
    Display: none
}

/* --- Overview > Favorite: Studio (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(7) > div > a:nth-child(n+6) {
    Display: none
}
