/* Shadorossa.css - Shadorossa v0.02 */


/*============================================================== CSS > ROOT | ASSETS ==============================================================*/

@import url(https://mentor404.github.io/anilist-css/files/background.css); @import url(https://mentor404.github.io/anilist-css/files/banner-remove.css); @import url(https://mentor404.github.io/anilist-css/files/navbar.css); @import url(https://mentor404.github.io/anilist-css/files/color-theme.css);
@import url(https://mentor404.github.io/anilist-css/files/font.css); @import url(https://mentor404.github.io/anilist-css/files/stats2.css); @import url("https://cdn.jsdelivr.net/gh/Shadorossa/Shadorossacss@main/favourites_v0.02.css"); @import url(https://mentor404.github.io/anilist-css/files/feed.css);
@import url(https://mentor404.github.io/anilist-css/files/footer.css); @import url(https://mentor404.github.io/anilist-css/files/top-nav.css); @Import url("https://cdn.jsdelivr.net/gh/Shadorossa/CSS5R/P5Font.css");

:root {

    /* - Favorite Anime - */
    
    /* - Favorite Manga - */
    
    /* - Favorite Characters | 1st: Image | 2nd: Gif | 3rd: | - */
    --Gin-img: url(https://i.imgur.com/HRuIQHE.png); --Rein-img: url(https://i.imgur.com/SytE4tG.png); --Baku-img: url(https://i.imgur.com/SytE4tG.png); --Joe-img: url(https://i.imgur.com/SytE4tG.png); --Yatora-img: url(https://i.imgur.com/SytE4tG.png); 

    /* - Social media - */
    --Joker-backloggd: url(https://files.catbox.moe/957154.png); --Jax-IMDB: url(https://files.catbox.moe/k8syfo.png);
}

/*=============================================================== Overview ===============================================================*/

/* --- Genres --- */
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(3) > div > div.genres {display: none;} 
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(3) > h2 {font-size: 0;}
div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(3) > h2:before{position: relative; font-family: Persona5; top: -3px; font-size: 12px; content: "Progress across the media / 20%"}
.percentage-bar > div:nth-child(n+3) {display: none;}
.el-tooltip__popper.is-dark {display: none;}
.percentage-bar > div:nth-child(1) {min-width: 20% !important; background: rgb(129 51 94) !important;}
.percentage-bar > div:nth-child(2) {min-width: 100% !important; background: rgb(70 70 70) !important;}

/*=============================================================== Overview > Favorites ===============================================================*/

/* --- Modifications --- */
.favourite:hover {transform: scale(1.075); border: 2px solid rgb(var(--color-foreground));}

/* --- Characters --- */
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(1) {background-image: var(--Gin-img) !important;}
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(3) {background-image: var(--Baku-img) !important;}

/*=============================================================== Overview > Social media ===============================================================*/
/* --- Backloggd --- */
.about p:nth-child(3) > a:nth-child(6)::after {
    content: "";
    background-image: var(--Joker-backloggd);
    background-size: cover;
    width: 300px;
    height: 300px;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    filter: drop-shadow(4px -1px 2px rgba(21,31,46, 0.5));
}

/* --- IMDB --- */
.about p:nth-child(3) > a:nth-child(9)::after {
    content: "";
    background-image: var(--Jax--IMDB);
    background-size: cover;
    width: 350px;
    height: 350px;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 20;
    filter: drop-shadow(4px -1px 2px rgba(21,31,46, 0.5));
}

/*=============================================================== REMOVED ===============================================================*/
/* --- Nav > Reviews / Submissions (Remove) ---*/
.nav .link:nth-of-type(n+7) {Display:none}


/* --- Overview > Favorite: Anime (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(4) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Manga (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(5) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Character (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(6) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Staff (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(7) > div > a:nth-child(n+6) { Display: none}

/* --- Overview > Favorite: Studio (Limit) --- */
.content.container > div > div:nth-child(1) > div:nth-child(8) > div > a:nth-child(n+6) { Display: none}
