/*=============================================================== Overview > Favorites ===============================================================*/
:root {
    /* - Favorite Anime - */
    
    /* - Favorite Manga - */
    --Uso-img: url(https://files.catbox.moe/9s8cn2.png);
    --Gint-img: url(https://comicvine.gamespot.com/a/uploads/scale_small/6/67663/6737607-76.jpg);
    
    /* - Favorite Characters | 1st: Image | 2nd: Gif | 3rd: | - */
    --Kiru-img: url(https://i.imgur.com/pn294Nw.png);
    --Gin-img: url(https://i.imgur.com/HRuIQHE.png);
    --Rein-img: url(https://i.imgur.com/KR1r4XY.png);
    --Baku-img: url(https://i.imgur.com/SytE4tG.png);
    --Joe-img: url(https://i.imgur.com/SytE4tG.png);
    --Yatora-img: url(https://i.imgur.com/SytE4tG.png);
    
    /* - Social media - */
    --backloggd: url(https://files.catbox.moe/8za60j.png);
    --IMDB: url(https://files.catbox.moe/hgp9n4.png);

    /* - Sprites - */
    --Gin-fav: url(https://files.catbox.moe/mymm35.png);
    --Baku-fav: url(https://files.catbox.moe/kzzi56.png);
}

/* --- Modifications --- */
.favourite:hover {
    border: 2px solid rgb(var(--color-foreground));
}

/* --- Manga --- */
.favourites-wrap.manga > a:nth-child(2) {background-image: var(--Uso-img) !important;}
.favourites-wrap.manga > a:nth-child(1) {background-image: var(--Gint-img) !important;}

/* --- Characters --- */
.favourites-wrap.characters > a:nth-child(2) {background-image: var(--Kiru-img) !important;}
.favourites-wrap.characters > a:nth-child(3) {background-image: var(--Gin-img) !important;}