/*NAVEGATION SUPERIOR BAR*/
.nav.nav-unscoped{
  background: rgb(38 1 1 / 50%) !important;
  max-width: 100px !important;
  padding-left: 00px !important;
  padding-right: 00px !important;
  left: 14%;
  transform: translate(-50%, 0);
  border-radius: 40px;
}

div.wrap > div.links, div.wrap > div.search, div.wrap > div.user {
  display: none;
}

.logo{content: url("https://files.catbox.moe/nyitlv.png"); scale: 0.8; opacity: 0.5 ;transition: scale 1s, opacity .5s;}
.nav.nav-unscoped:hover .logo{
opacity: 1;
}

.logo:hover{
scale: 1;
}

.nav.nav-unscoped:hover{
  background: rgb(38, 1, 11,.9) !important;
} 

@media (min-width: 1040px) and (max-width: 1540px){
.nav.nav-unscoped{
  max-width: 1040px !important;
  padding-left: 50px;
  padding-right: 50px;
}

.result-col >.title{
    background: rgb(var(--color-foreground));
    margin: 0px;
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 0px !important;
}